<p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 250x250Square -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-7207474321253495"
     data-ad-slot="2552605961"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></p>
