<div class="col-lg-6 col-lg-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      メッセージ入力
    </div>
    <div class="panel-body">
      <% #部分テンプレートを読み込んでいる %>
      <%= render 'form' %>
    </div>
  </div>
</div>
